<beans:beans
	xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:security="http://www.springframework.org/schema/security"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
                                http://www.springframework.org/schema/security
                                http://www.springframework.org/schema/security/spring-security-4.2.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<context:annotation-config />


	<context:component-scan
		base-package="com.nixsolutions.litvinov.vitaliy" />

	<http auto-config="true">
		<intercept-url pattern="/" access="permitAll" />
		<intercept-url pattern="/admin*/**"
			access="hasRole('admin')" />
		<intercept-url pattern="/registration"
			access="permitAll" />
		<intercept-url pattern="/login" access="permitAll" />
		<form-login login-page="/" default-target-url="/home"
			username-parameter="login" password-parameter="password"
			authentication-failure-url="/?error=true" />
		<csrf />
	</http>

	<authentication-manager>
		<authentication-provider
			user-service-ref="userDetailsServiceImpl" />
	</authentication-manager>

	<beans:bean id="userDetailsServiceImpl"
		class="com.nixsolutions.litvinov.vitaliy.security.UserDetailsServiceImpl" />
</beans:beans>